*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 100;
    transition: all .5s;
}
span{
    color:#5594d0;
    padding-left:5px ;
}
.time{
    font-size: 10px;
}

.big-box{
    border: 1px solid black;
    padding: 35px 95px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: all .5s;
}
.bold{
    font-weight: bold;
}
.box1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px 10px 0px;
    width: auto;
    transition: all .5s;
}
p{
    font-size: 14px;
    text-align: justify;
}
hr{
    color: rgba(211, 211, 211, 0.334);
}

.list{
   display: flex;
   justify-content: flex-start;
   gap: 100px;
   transition: all .5s;
}
.list>ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.list>ul>li{
    list-style-type: none;
    font-size: 13px;
    color: rgb(53, 161, 203);
    padding: 2px 0px;
    transition: all .5s;
}

.box{
    border: 2px solid rgba(211, 211, 211, 0.283);
    /* width: 300px; */
    padding: 20px 15px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .5s;
    background-color: #f5f5f5;
}
h4{
    font-weight: 100;
}
.small-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all .5s;
}
.box2{
    display: flex;
}
.wrap{
    display: flex;
    /* border: 2px solid lightgray; */
    border-radius: 4px;
    
}
.text{
    
    border: 1px solid lightgray;
    border-right: none;
    padding: 8px 5px;
    width: 290px;
    outline: none;
}
.img1{
    border: 1px solid lightgray;
    border-left: 2px solid lightgray;
    background-image: url("magnifying-glass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 70% 70%;
    width: 37px;
    height: 34px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.box4>h4+p{
    font-size: 12px;
}

.box3,.box4{
    padding: 30px 15px;
}
.click{
    width: 35px;
    height: 25px;
    display: none;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}
.line{
    border: 1px solid white;
}


@media screen and (max-width:1485px) {
    .big-box{
        flex-wrap: wrap;
    }

    .small-box{
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    .box{
        width: 405px;
        padding: 20px 30px 10px;
    }
}

@media screen and (max-width:1482px) {
    .box{
        padding: 20px 25px 10px;
    }
    
    .small-box{
        gap: 35px;
    }
}
@media screen and (max-width:1472px) {
    .small-box{
        gap: 30px;
    }
}
@media screen and (max-width:1462px) {
    .small-box{
        gap: 25px;
    }
}
@media screen and (max-width:1452px) {
    .small-box{
        gap: 20px;
    }
}
@media screen and (max-width:1442px) {
    .box{
        width: 395px;
    }
}
@media screen and (max-width:1426px) {
    .box{
        width: 390px;
    }
}
@media screen and (max-width:1413px) {
    .box{
        width: 385px;
    }
}
@media screen and (max-width:1498px) {
    .big-box{
        padding: 35px 85px;
    }
}
@media screen and (max-width:1381px) {
    .big-box{
        padding: 35px 75px;
    }
}
@media screen and (max-width:1365px) {
    .big-box{
        padding: 35px 65px;
    }
}
@media screen and (max-width:1338px) {
    .big-box{
        padding: 35px 55px;
    }
}
@media screen and (max-width:1318px) {
    .box{
        width: 375px;
    }
}
@media screen and (max-width:1288px) {
    .box{
        width: 370px;
    }
}
@media screen and (max-width:1272px) {
    .box{
        width: 365px;
    }
}
@media screen and (max-width:1258px) {
    .box{
        width: 360px;
    }
}
@media screen and (max-width:1244px) {
    .box{
        width: 355px;
    }
}
@media screen and (max-width:1228px) {
    .box{
        width: 350px;
    }
}
@media screen and (max-width:1214px) {
    .box{
        width: 345px;
    }
}
@media screen and (max-width:1200px) {
    .box{
        width: 340px;
    }
}
@media screen and (max-width:1185px) {
    
    .box{
        width: 335px;
        padding: 20px 20px 10px;
    }
}
@media screen and (max-width:1170px) {
    .box{
        width: 330px;
    }
}
@media screen and (max-width:1155px) {
    .list{
        gap: 80px;
    }
    .box{
        width: 325px;
    }
}
@media screen and (max-width:1140px) {
    .list{
        gap: 70px;
    }
    .box{
        width: 320px;
    }
}
@media screen and (max-width:1125px) {
    .list{
        gap: 60px;
    }
    .box{
        width: 315px;
    }
}
@media screen and (max-width:1109px) {
    .list{
        gap: 50px;
    }
    .box{
        width: 310px;
    }
}
@media screen and (max-width:1094px) {
    .list{
        gap: 45px;
    }
    .box{
        width: 305px;
    }
}
@media screen and (max-width:1080px) {
    
    .box{
        width: 300px;
    }
}
@media screen and (max-width:1065px) {

     .small-box{
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
     }
     .box{
        width: 415px;
     }
     .list{
        gap: 140px;
     }
}
@media screen and (max-width:1024px) {
    .box1{
        width: 914px;
        padding: 10px 0px;
    }
    .big-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .small-box{
        gap: 60px;
    }
}
@media screen and (max-width:1020px) {
    .small-box{
        gap: 50px;
    }
    .box1{
        width: 900px;
    }
}
@media screen and (max-width:1010px) {
    .box1{
        width: 880px;
    }
    .box{
        width: 415px;
    }
}
@media screen and (max-width:995px) {
    .box1{
        width: 860px;
    }
    .box{
        width: 405px;
    }
}
@media screen and (max-width:975px) {
    .box1{
        width: 840px;
    }
    .small-box{
        gap: 40px;
    }
    .box{
        width: 395px;
    }
}
@media screen and (max-width:950px) {
    .box1{
        width: 820px;
    }
    .box{
        width: 385px;
    }
}
@media screen and (max-width:933px) {
    .box1{
        width: 800px;
    }
    .box{
        width: 375px;
    }
    .big-box{
        padding: 35px 45px;
    }
}
@media screen and (max-width:904px) {
    .box1{
        width: 780px;
    }
    .box{
        width: 365px;
    }
    .list{
        gap: 120px;
    }
}
@media screen and (max-width:875px) {
    .box1{
        width: 760px;
    }
    .box{
        width: 355px;
    }
}
@media screen and (max-width:855px) {
    .box1{
        width: 740px;
    }
    .list{
        gap: 100px;
    }
    .box{
        width: 345px;
    }
}
@media screen and (max-width:835px) {
    .box1{
        width: 720px;
    }
    .box{
        width: 335px;
    }
}
@media screen and (max-width:815px) {
    .box1{
        width: 700px;
    }
    .list{
        gap: 80px;
    }
    .box{
        width: 325px;
    }
}
@media screen and (max-width:795px) {
    .box1{
        width: 680px;
    }
    .box{
        width: 315px;
    }
}
@media screen and (max-width:775px) {
    .box1{
        width: 660px;
    }
    .list{
        gap: 60px;
    }
    .box{
        width: 305px;
    }
}
@media screen and (max-width:755px) {
    .box1{
        width: 640px;
    }
    .box{
        width: 295px;
    }
}
@media screen and (max-width:735px) {
    .box1{
        width: 620px;
    }
    .list{
        gap: 40px;
    }
    .box{
        width: 285px;
    }
}
@media screen and (max-width:715px) {
    .box1{
        width: 600px;
    }
    .small-box{
        gap: 20px;
    }
}
@media screen and (max-width:695px) {
    .box1{
        width: 580px;
    }
    
}
@media screen and (max-width:681px) {
    .box{
        width: 415px;
    }
    .text{
        width: 330px;
    }
    .small-box{
        gap: 50px;
    }
    .list{
        gap: 120px;
    }
    .list>ul>li{
        font-size: 17px;
    }
}
@media screen and (max-width:675px) {
    .box1{
        width: 560px;
    }
}
@media screen and (max-width:655px) {
    .box1{
        width: 540px;
    }
}

@media screen and (max-width:650px) {
    .click{
        display: flex;
    }
}
@media screen and (max-width:635px) {
    .box1{
        width: 520px;
    }
}
@media screen and (max-width:615px) {
    .box1{
        width: 500px;
    }
}
@media screen and (max-width:595px) {
    .big-box{
        padding: 35px 35px;
    }
    .box1{
        width: 480px;
    }
}
@media screen and (max-width:555px) {
    .box1{
        width: 460px;
    }
}
@media screen and (max-width:535px) {
    .box1{
        width: 440px;
    }
}
@media screen and (max-width:515px) {
    .box1{
        width: 420px;
    }
    .box{
        width: 405px;
    }
    
}
@media screen and (max-width:495px) {
    .box1{
        width: 400px;
    }
    .box{
        width: 395px;
    }
    .list>ul>li{
        font-size: 15px;
    }
}
@media screen and (max-width:475px) {
    p{
        font-size: 12px;
    }
    .box1{
        width: 380px;
    }
    .box{
        width: 385px;
    }
    .list>ul>li{
        font-size: 14px;
    }
}
@media screen and (max-width:455px) {
    .box1{
        width: 360px;
    }
    .box{
        width: 365px;
    }
}
@media screen and (max-width:435px) {
    .box1{
        width: 340px;
    }
    .box{
        width: 345px;
    }
    .list{
        gap: 80px;
    }
}
@media screen and (max-width:415px) {
    .big-box{
        padding: 35px 25px;
    }
}
@media screen and (max-width:395px) {
    .big-box{
        padding: 35px 20px;
    }
}
@media screen and (max-width:385px) {
    .big-box{
        padding: 30px 10px;
    }
    .text{
        width: 310px;
    }
}
@media screen and (max-width:365px) {
    .box1{
        width: 320px;
    }
    .box{
        width: 325px;
    }
    .text{
        width: 290px;
    }
    .small-box{
        gap: 30px;
    }
}
@media screen and (max-width:345px) {
    .box1{
        width: 300px;
    }
    .box{
        width: 305px;
    }
    .text{
        width: 250px;
    }
    .list{
        gap: 70px;
    }
    .list>ul>li{
        font-size: 12px;
    }
}
@media screen and (max-width:345px) {
    .box1{
        width: 300px;
    }
}
@media screen and (max-width:320px) {
    .box1{
        width: 280px;
    }
    .box{
        width: 285px;
    }
    .text{
        width: 230px;
    }
    .list{
        gap: 50px;
    }
}
@media screen and (max-width:305px) {
    .big-box{
        padding: 25px 5px;
    }
    .box{
        width: 265px;
    }
}
@media screen and (max-width:295px) {
    .big-box{
        padding: 25px 0px;
    }
}
@media screen and (max-width:285px) {
    .box{
        width: 245px;
    }
    .text{
        width: 190px;
    }
    .list{
        gap: 30px;
    }
}